/* Styling form and resume sections */

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: white;
    border-color: black;
}

form {
    margin: auto;
    background-color: rgb(19, 164, 79);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
    border-color:black;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid rgb(1, 5, 31);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(39, 161, 155);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(2, 31, 5);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(18, 78, 142);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: white;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(25, 3, 87);
    border-radius: 8px;
    background-color: rgb(65, 122, 176);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    outline: none;
}

#resume-display h2 {
    color: black;
}
